* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

/* NavBar */

.navbar{
    position: fixed;
    background-color: #e9edef;
    width: 100%;
    padding: 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    background-color: #e9edef;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo{
    width: 200px;
    height: 150px;
    background-image: url(assets/output-onlinepngtools.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #9ecfe7;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #9ecfe7 !important;
}

.sticky {
    background-color: #e9edef;
    padding: 0px 0;
}

.sticky .logo {
    background-image: url(assets/output-onlinepngtools.png);
}

.sticky .navbar-menu a{
    color: #111;
}

.sticky .menu-toggler span{
    background-color: #111;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b5354;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    height: 50px;
    cursor: pointer;
}

.phoneImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/telephon.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s linear;
}

.phone:hover {
    color: #9ecfe7 !important;
    transition: .3s linear;
}

.background-image{
    background-image: url(assets/tampanew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
    text-align: center;
}

.homePage{
    padding-top: 200px;
    background-color: #9ecfe7;
}

.gunnBanner {
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
}

.gunnUnderBanner{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 55px;

}

.btn{
    border-radius: 40px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 1rem;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
  }

  .btn--primary{
    background:#275ea3;
    color: white;
  }

  .btn--primary:hover{
    background: dodgerblue;
  }

/* Home Page */
.background-image{
  background-image: url(assets/tampanew.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: relative;
  text-align: center;
}

.introduction{
  background-color: #0051FE;
  width: 100%;
  height: 20px;
}

.introduction2{
  background-color: #2871F8;
  width: 100%;
  height: 20px;
}

.introduction3{
  background-color: #4F90F3;
  width: 100%;
  height: 20px;
}

.introduction4{
  background-color: #77B0ED;
  width: 100%;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.introduction5{
  background-color: #9ecfe7;
  width: 100%;
  height: 10px;
}

.testing{
  text-align: center;
  position: absolute;
  padding-top: 100px;
  font-size: 48px;
  left: 50%;
  transform: translateX(-50%);

}
/* Testimonials */
.testimonial--background{
  width: 100%;
  height: 780px;
  background: url(assets/Untitled\ design\ \(3\).png);
  background-size: cover;
  -webkit-background-origin:border;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #080808;
}

.testimonial--container{
  position: relative;
  width: 800px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
}

.testimonial--wrapper{
  width: 300%; /* 1 card = 100%, then 3card = 300% */
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

.testimonial--card{
  width: 800px;
  min-height: 100%;
  display: flex;
  background: #fff;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.testimonial--card--thumb{
  width: 70%;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.testimonial--card--thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-name{
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 5px;
}

.testimonial--card--body{
  width: 120%;
  min-height: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
}

.review{
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

.rating{
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star{
  font-size: 25px;
  margin-right: 5px;
}

.testimonial--indicators{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial--indicators button{
  background: none;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 5px;
  transition: 0.5s;
}

.testimonial--indicators button.active{
  width: 40px;
  border-radius: 50px;
  background: #fff;
}

/* Where we serve */

.where--container{
  width: 100%;
  height: 780px;
  background: url(assets/Untitled\ design\ \(3\).png);
  background-size: cover;
  -webkit-background-origin:border;
}

.where--items{
  width: 100%;
  height: 780px;
  padding: 0 235px 0 235px;
  display: flex;
}

.where--text{
  width: 50%;
  height: 780px;
  display: inline-block;
  padding-left: 200px;
}

.where--text h1{
  font-size: 48px;
  text-align: center;
  padding-top: 35px;
  padding-left: 40px;
}

.where--text h3{
  text-align:left;
  padding-left: 80px;
  padding-bottom: 50px
}

.where--text h3:nth-of-type(1){
  padding-top: 50px;
}

.where--image{
  width: 50%;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.where--image img{
  border-radius: 50%;
  border: 3px solid black;
}

.where--textMobile{
  display: none;
}

.where--textMobileHeader{
  display: none;
}

.where--textMobileParagraph{
  display: none;
}
/* Contact us Today! */

/* Footer */

  .footer {
    background-color: grey;
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .basic--info{
    background-color: #9ecfe7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 33.33%;
    height: auto;
  }

  .Information{
    background-color: #9ecfe7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33.33%;
    height: auto;
  }

  .Information--phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Information h3{
    margin: 5px;
  }

  .Socials{
    background-color: #9ecfe7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 33.33%;
    height: auto;
  }

  .contact--container{
    width: 100%;
    height: 80vh;
    background-color: #275ea3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/instagramreal.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  .facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/facebookreal.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  .twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/twitterreal.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  .youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/youtubereal.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  /* Contact Us Page */ 

  form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }

  form h3{
    color: #000010;
    font-weight: 800;
    margin-bottom: 20px;
  }

  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
  }

  form button{
    padding: 15px;
    background: #275ea3;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }

  form button:hover {
    background-color: #9ecfe7 !important;
    transition: .3s linear;
    color: #000010;
  }

  /* Insulation Page */
  
  .insulationPage {
    padding-top:200px;
  }

  .insulation--background{
    width: 100%;
    height: 900px;
    background-color:#9ecfe7
  }

  .insulation--boxholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    height: auto;
  }

  .insulation--boxone{
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 650px;
    background-color: #e9edef;
    border-radius: 15px;
    border: 3px solid black;
  }

  .insulation--boxone--image{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insulation--boxone--image img {
    width: 90%;
    border: 3px solid black;
  }


  .insulation--boxone--text{
    width:100%;
    height: 25%;
    background-color: #275ea3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .insulation--boxone--text h1{
    text-align: center;
    padding-top: 10px;
  }

  .insulation--boxone--text p{
    text-align: center;
    padding-top: 10px;
  }

  .insulation--boxtwo{
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 650px;
    background-color: #e9edef;
    border-radius: 15px;
    border: 3px solid black;
  }

  .insulation--boxtwo--image{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insulation--boxtwo--image img {
    width: 90%;
    border: 3px solid black;
  }


  .insulation--boxtwo--text{
    width:100%;
    height: 25%;
    background-color: #275ea3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .insulation--boxtwo--text h1{
    text-align: center;
    padding-top: 10px;
  }

  .insulation--boxtwo--text p{
    text-align: center;
    padding-top: 10px;
  }

  .insulation--boxthree{
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 650px;
    background-color: #e9edef;
    border-radius: 15px;
    border: 3px solid black;
  }

  .insulation--boxthree--image{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insulation--boxthree--image img {
    width: 90%;
    border: 3px solid black;
  }


  .insulation--boxthree--text{
    width:100%;
    height: 25%;
    background-color: #275ea3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .insulation--boxthree--text h1{
    text-align: center;
    padding-top: 10px;
  }

  .insulation--boxthree--text p{
    text-align: center;
    padding-top: 10px;
  }

  /* hvac page */ 
  .hvacPage {
    padding-top:200px;
  }

  .hvac--background{
    width: 100%;
    height: 900px;
    background-color:#9ecfe7
  }

  .hvac--boxholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    height: auto;
  }

  .hvac--boxone{
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 650px;
    background-color: #e9edef;
    border-radius: 15px;
    border: 3px solid black;
  }

  .hvac--boxone--image{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hvac--boxone--image img {
    width: 90%;
    border: 3px solid black;
  }


  .hvac--boxone--text{
    width:100%;
    height: 25%;
    background-color: #275ea3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .hvac--boxone--text h1{
    text-align: center;
    padding-top: 10px;
  }

  .hvac--boxone--text p{
    text-align: center;
    padding-top: 10px;
  }

  .hvac--boxtwo{
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 650px;
    background-color: #e9edef;
    border-radius: 15px;
    border: 3px solid black;
  }

  .hvac--boxtwo--image{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hvac--boxtwo--image img {
    width: 90%;
    border: 3px solid black;
  }


  .hvac--boxtwo--text{
    width:100%;
    height: 25%;
    background-color: #275ea3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .hvac--boxtwo--text h1{
    text-align: center;
    padding-top: 10px;
  }

  .hvac--boxtwo--text p{
    text-align: center;
    padding-top: 10px;
  }

  .hvac--boxthree{
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 650px;
    background-color: #e9edef;
    border-radius: 15px;
    border: 3px solid black;
  }

  .hvac--boxthree--image{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hvac--boxthree--image img {
    width: 90%;
    border: 3px solid black;
  }


  .hvac--boxthree--text{
    width:100%;
    height: 25%;
    background-color: #275ea3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .hvac--boxthree--text h1{
    text-align: center;
    padding-top: 10px;
  }

  .hvac--boxthree--text p{
    text-align: center;
    padding-top: 10px;
  }
  @media screen and (max-width: 1627px){
    .testimonial--background{
      background: url(assets/Untitled\ design\ \(1\).png);
    }

    .where--container{
      background: url(assets/Untitled\ design\ \(1\).png);
    }

    .testing{
      background-color:#e9edef;
      padding: 15px;
      margin-top: 60px;
      border-radius: 15px;
    }

    .where--items{
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .where--text{
      background-color: #e9edef;
      padding-left: 0px;
      padding-top: 15px;
      width: 30%;
      height: 60%;
      border-radius: 15px;
    }

    .where--text h1{
      padding: 0;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .where--text h3{
      padding-left: 50px;
      padding-bottom: 10px;
      margin: 0;
    }

    .where--image{
      margin-left: 100px;
    }

    .insulation--background{
      height: 1000px;
    }

    .insulation--boxone--image img{
      height: 90%;
      width: 100%;
      min-width: 200px;
    }

    .insulation--boxtwo--image img{
      height: 90%;
      width: 100%;
      min-width: 200px;
    }

    .insulation--boxthree--image img{
      height: 90%;
      width: 100%;
      min-width: 200px;
    }
   
    .hvac--background{
      height: 1000px;
    }

    .hvac--boxone--image img{
      height: 90%;
      width: 100%;
      min-width: 200px;
    }

    .hvac--boxtwo--image img{
      height: 90%;
      width: 100%;
      min-width: 200px;
    }

    .hvac--boxthree--image img{
      height: 90%;
      width: 100%;
      min-width: 200px;
    }
  }

@media screen and (max-width: 980px) {

  .testimonial--background{
    background: url(assets/Untitled\ design\ \(1\).png);
  }

  .where--container{
    background: url(assets/Untitled\ design\ \(1\).png);
  }
  
  .where--items{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .where--text{
    display: none;
  }

  .where--image{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .where--image h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9edef;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
  }

  .where--image h5{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9edef;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    margin-top: 20px;
  }

  .where--image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
  }

  .testing{
    display: none;
  }

    .testimonial--container{
      width: 50%;
      margin: auto;
    }

    .testimonial--card{
      flex-direction: column;
    }

    .testimonial--card--thumb{
      width: 100%;
      border-radius: 10px;
    }

    .testimonial--card--body{
      width: 100%;
      min-height: auto;
      margin-left: 0;
    }


    .menu-toggler{
        display:block;
    }

    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #4b5354;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a{
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu{
        background-color: #275ea3;
    }

    .navbar-menu.active{
        right: 0;
    }

    .menu-toggler.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2){
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }

    form h3{
        padding-top: 15px;
    }

    .insulation--boxholder{
      flex-direction: column;
      align-items: space-around;
      justify-content: space-around;
      height: 2500px;
    }

    .insulation--background{
      height: 2500px;
    }

    .insulation--boxone {
      width: 60%;
      height: 700px;
    }

    .insulation--boxtwo {
      width: 60%;
      height: 700px;
    }

    .insulation--boxthree {
      width: 60%;
      height: 700px;
    }

    .hvac--boxholder{
      flex-direction: column;
      align-items: space-around;
      justify-content: space-around;
      height: 2500px;
    }

    .hvac--background{
      height: 2500px;
    }

    .hvac--boxone {
      width: 60%;
      height: 700px;
    }

    .hvac--boxtwo {
      width: 60%;
      height: 700px;
    }

    .hvac--boxthree {
      width: 60%;
      height: 700px;
    }
}

@media screen and (max-width: 500px) {


  .insulation--boxthree--image img {
    width: 200px;
    height: 80%;
    border: 3px solid black;
  }

  .insulation--boxthree {
    width: 90%;
    height: 600px;
  }

  .insulation--boxone--image img {
    width: 200px;
    height: 80%;
    border: 3px solid black;
  }

  .insulation--boxone {
    width: 90%;
    height: 600px;
  }

 .insulation--boxtwo{
  width: 90%;
  height: 600px;
 }

 .insulation--boxtwo--image img {
  width: 200px;
  height: 80%;
  border: 3px solid black;
}

.hvac--boxthree--image img {
  width: 200px;
  height: 80%;
  border: 3px solid black;
}

.hvac--boxthree {
  width: 90%;
  height: 600px;
}

.hvac--boxone--image img {
  width: 200px;
  height: 80%;
  border: 3px solid black;
}

.hvac--boxone {
  width: 90%;
  height: 600px;
}

.hvac--boxtwo{
width: 90%;
height: 600px;
}

.hvac--boxtwo--image img {
width: 200px;
height: 80%;
border: 3px solid black;
} 
}
